HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

## QEntity ##
src/main/generated
src/main/resources/img/mailForDoctor.png
src/main/java/org/ict/atti_boot/admin/model/dto/NoticeAdminVersionDto.java
src/main/java/org/ict/atti_boot/admin/model/entity/NoticeAdminVersionEntity.java
src/main/java/org/ict/atti_boot/admin/repository/NoticeAdminVersionRepository.java
src/main/java/org/ict/atti_boot/doctor/jpa/repository/CustomDoctorTagRepository.java
src/main/java/org/ict/atti_boot/doctor/jpa/repository/CustomDoctorTagRepositoryImpl.java
src/main/java/org/ict/atti_boot/doctor/jpa/repository/DoctorTagRepository.java
src/main/java/org/ict/atti_boot/doctor/model/DoctorUpdateInput.java
src/main/java/org/ict/atti_boot/doctor/model/outputVo/DoctorUpdateVo.java
src/main/java/org/ict/atti_boot/reply/model/output/ReplyListOutput.java
src/main/resources/hospitalprofile/03325f92-0021-4cdb-a74e-01aa6159782e.png
src/main/resources/hospitalprofile/05aec583-992d-46fe-b08c-6ee187d8a73d.png
src/main/resources/hospitalprofile/08eb2c9e-0d22-4821-892f-8fd932a27ce8.png
src/main/resources/hospitalprofile/0a619052-b3f2-42a5-bea0-86173e58a001.png
src/main/resources/hospitalprofile/0f3960c2-4a02-4887-8a14-bb4320cfcc9c.png
src/main/resources/hospitalprofile/16731d53-160e-4f17-8004-aca6c78335f9.png
src/main/resources/hospitalprofile/177b0425-0bc2-49d6-bd36-ee5c095c6042.png
src/main/resources/hospitalprofile/21b6d687-c14b-40b7-8dc7-f101dce46206.png
src/main/resources/hospitalprofile/2b42d11c-cd0c-41c3-8707-fd31a57d3572.png
src/main/resources/hospitalprofile/31b46931-2f02-4c65-82c9-f697f9d6a6b1.png
src/main/resources/hospitalprofile/38ffe3aa-73f0-4deb-ac14-fc56604621c3.png
src/main/resources/hospitalprofile/39b0a121-4298-4e18-a784-c490061b1f29.png
src/main/resources/hospitalprofile/3d0cca6a-8e8d-4e14-8e56-dd7499353cfb.png
src/main/resources/hospitalprofile/3f32e445-5e00-4a9f-9f3f-2af1a5426316.png
src/main/resources/hospitalprofile/44ac570d-5e4c-4a58-9760-3e067efdc1dd.png
src/main/resources/hospitalprofile/4656530a-8eb1-4b4c-9fec-88dee192c549.png
src/main/resources/hospitalprofile/49579bae-def3-4467-8052-4f49c1b9d69c.png
src/main/resources/hospitalprofile/4a8c2978-274d-44f5-bf40-e124089852f9.png
src/main/resources/hospitalprofile/4b3aa2ce-b794-4234-9690-e26c2949516d.png
src/main/resources/hospitalprofile/5c43266a-def5-41f2-9ada-3b11c21274ff.png
src/main/resources/hospitalprofile/5c673ab6-d89a-4214-8e4b-444b080b46c0.png
src/main/resources/hospitalprofile/6185d895-a631-4d74-9b33-f737b14e99ed.png
src/main/resources/hospitalprofile/638f4ed3-f760-4b11-8680-6365c41186b5.png
src/main/resources/hospitalprofile/67db3655-f7d4-473e-af45-38baad3fa188.png
src/main/resources/hospitalprofile/6d46513d-222f-4347-a3ad-d1823226f913.png
src/main/resources/hospitalprofile/6de5243f-9c62-4466-bc4c-0eb94cbfbabc.png
src/main/resources/hospitalprofile/700b0f80-a243-4bd9-aad3-9070ef514187.png
src/main/resources/hospitalprofile/7f8fa7a0-b8ed-47cc-bb37-c371676d7357.png
src/main/resources/hospitalprofile/92b5b2a2-d681-4149-a043-cebacc44fe9a.png
src/main/resources/hospitalprofile/948c5e62-3c53-40a0-8377-10bd0976b7af.png
src/main/resources/hospitalprofile/9c83b0d1-32a3-4d8c-958b-b68917bf2fc2.png
src/main/resources/hospitalprofile/9d6d70fd-e937-4e72-a14c-05d71ccaa83a.png
src/main/resources/hospitalprofile/ad540523-dbb1-4643-93e6-323475d82d4b.png
src/main/resources/hospitalprofile/ae7f8a15-5e90-4347-9842-7685061810e2.png
src/main/resources/hospitalprofile/b1610d70-93be-4885-a6a4-7775cd693de2.png
src/main/resources/hospitalprofile/b951d1a8-f4dc-46b0-9804-5c97456384db.png
src/main/resources/hospitalprofile/bc3a8dec-edd8-4531-bc7f-777c595108ec.png
src/main/resources/hospitalprofile/bcdf1d2d-71b6-432f-9795-4c586a3d22c1.png
src/main/resources/hospitalprofile/c34bbbb1-4309-444d-925c-181e9b7d99c0.png
src/main/resources/hospitalprofile/c979a512-f2c5-42b6-9db0-4abbc4e713ce.png
src/main/resources/hospitalprofile/ca384861-72a3-4708-9196-8a0ce2334edb.png
src/main/resources/hospitalprofile/dc1e33d1-1088-4b36-9430-b5a874489e35.png
src/main/resources/hospitalprofile/de44aa1e-ae95-42e1-be2b-b58ec7b17af7.png
src/main/resources/hospitalprofile/f6226660-7de3-41a8-95bd-904b470e28e9.png
src/main/resources/hospitalprofile/f9ce2836-27b2-45dd-90f3-fc923caece4d.png
src/main/resources/hospitalprofile/fa718574-5c7c-431c-a232-602306a0c22a.png
